<%- include ('partials/header.ejs') %>

<div class="container">
    <h1 class="title"> Edit Todo </h1>
    

      <form class="field" action="/todos/<%=data.id%>?_method=PUT" method="POST">
          <input class="input" type="text" name="todoName" value="<%=data.title%>" required/>
          <div clas="control">
            <label class="label" for="todoCategory">Choose a category:</label>
            <div class="select">
              <select name="todoCategory" required>
                <option value="Normal" selected> Normal </option>
                <option value="Today"> Today </option>
                <option value="Urgent"> Urgent </option>
              </select>
            </div>
          </div>
          <div class="field">
            <button class="button is-primary is-medium" type="submit" name="TdoSubmitButton">Edit</button>
          </div>
        </form>
    </div>

</div>

<%- include ('partials/footer.ejs') %>