<h1> Edit </h1>

<form action="/todos/<%=data.id%>?_method=PUT" method="POST">
    <input type="text" name="todoName" value="<%=data.title%>" required/>
    <div>
      <label for="todoCategory">Choose a category:</label>
      <select name="todoCategory" required>
        <option value="Normal" selected> Normal </option>
        <option value="Urgent"> Urgent </option>
        <option value="Today"> Today </option>
      </select>
    </div>
    <label for="status"> Completed </label>
    <input type="checkbox" name="status" value="completed">
    <button type="submit" name="TdoSubmitButton">Edit</button>
  </form>
</div>