<%- include ('partials/header.ejs') %>

<div class="container">
  <h3 class="title">Create A New Todo</h3>
  <form action="/todos" method="POST">
    <input
    class="input"
      type="text"
      name="todoName"
      placeholder="Create a New Todo"
      required
    />
    <div>
      <label class="label" for="todoCategory">Choose a category:</label>
      <div class="select">
        <select name="todoCategory" required>
          <option value="Normal" selected> Normal </option>
          <option value="Urgent"> Urgent </option>
          <option value="Today"> Today </option>
        </select>
      </div>
    </div>
    <button class="button is-primary is-medium" type="submit" name="TdoSubmitButton">Create</button>
  </form>
</div>

<%- include ('partials/footer.ejs') %>