<div class="container">
  <h1>Welcome</h1>
  <h3>List of all Todos</h3>
  <a href="/todos/new"> Create New Todo </a>
  <ul>
    <% data.map((entry) => { %>
    <li><%= entry.title %> ---- <%= entry.category %></li>
    <a href="/todos/<%=entry.id%>/edit">Edit</a>
    <form action="/todos/<%=entry.id%>?_method=DELETE" method="POST">
      <button type="submit" name="deleteButton"> Delete </button>
    </form>
    <% }); %>
  </ul>
</div>
